@use "../../../styles/_typography.scss" as *;

.content {
  z-index: 110;
  width: 240px;
  overflow: hidden;
  border: 1px solid var(--ds-border-neutral-primary);
  border-radius: var(--radius-sm);
  background: var(--ds-background-neutral-primary);
  box-shadow: 1px 2px 2px 0 rgb(0 0 0 / 7%), 0 2px 6px 0 rgb(0 0 0 / 4%);
}

.panel {
  display: flex;
  flex-direction: column;
  gap: 8px;
  padding: 8px 10px 10px;
}

.field {
  display: flex;
  flex-direction: column;
  gap: 2px;
}

.label {
  @include type-label-3;

  margin: 0;
  color: var(--ds-text-neutral-primary);
}
