.root {
  -webkit-font-smoothing: antialiased;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  font-family: var(--font-fa-pro), sans-serif;
  font-style: normal;
  font-weight: 900;
  line-height: 1;
}

.sizeInherit {
  font-size: inherit;
}

.sizeXs {
  font-size: 12px;
}

.sizeS {
  font-size: 14px;
}

.sizeM {
  font-size: 16px;
}

.sizeL {
  font-size: 20px;
}
