@use "../../styles/_mixins.scss" as *;

.root {
  position: relative;
  display: flex;
  min-height: 40px;
  align-items: center;
  justify-content: space-between;
  background: var(--ds-background-neutral-primary);
  padding: 0 8px;
  flex-shrink: 0;
}

.borderBottom {
  border-bottom: 1px solid var(--ds-border-neutral-primary);
}

.borderTop {
  border-top: 1px solid var(--ds-border-neutral-primary);
}

.label {
  @include panel-header-label;

  position: absolute;
  left: 50%;
  transform: translateX(-50%);
  pointer-events: none;
}
